@media screen and (min-width: 600px) {
  .fa-bars {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .mobile-container {
    width: 100%;
    margin: auto;
    border-radius: 10px;
  }
  .navbar {
    background-color: #333;
    position: relative;
  }

  .navbar #myLinks {
    display: none;
  }
  .navbar a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .navbar a .icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .sub-text{
    width: 300px;
    height: 50px;
    justify-content: center;
align-items: center;
text-align: center;
margin-right: 100px;
  }

  a li {
    margin-top: 200px;
  }

  .animated-logo {
    display: none;
  }
  div section h2 {
    text-align: center;
  }

  .about-us-heading {
    float: left;
  }

  .content {
    margin-top: 200px;
  }
  .about-container {
    margin-top: 20pc;
    margin: auto;
  }
  .about-us {
   margin-top: -100px;
   
  }
  .about-card{
    margin-top: 200px;
  }
 .what-we-do{
  margin-top: 230px;
 }
.abouttt{
  width: 500px;
  height: 100px; 
  padding: 50px;
  margin-top: -300px;
  
}
  .about-section {
    text-align: center;
    justify-content: center;
  }
  .about-mobile {
    display: none;
  }

  .customer-review {
    top: 0;
    right: 0;
    left: 0;
    line-height: 30px;
    margin-top: 100pc;
  }
  .contact {
    margin-top: 5pc;
  }
  footer {
    margin-top: 180px;
    border-radius: 10px;
  }
}
